.droplet {
  /* Constants */
  position: absolute;




  /* Customizable */
    /* background = color of each droplet; Look into webkit/moz 
       potentially a rainbow rain effect can be achieved by assign each droplet a different color for a set of 
       colors that complement each other.
       Background transparency adds an effect that makes the rain lighter than 1px and seem more far away
    */
    /* background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.5))  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.5) 100%); */
    /* background-color: rgb(183, 212, 255); */
    background-color: rgba(183, 212, 255, 0.752);

    /* Width and height should have a max value as they cease to look like droplets after a certain point */
    width:1px;
    height:80px;
    
    /* bottom:200px; */
    /* z-index: 10; */

    
    /* Preset values for the drop speed (seconds) should be provided; slow = 2s default = .73 fast = .40s */
    -webkit-animation: fall .73s linear infinite;
    -moz-animation: fall .73s linear infinite;


  }


  /* drop animation styles */
  /* @-webkit-keyframes fall {
      to {margin-top:100px;}
  }
  @-moz-keyframes fall {
      to {margin-top:900px;}
  } */
  
  
  @keyframes fall {
    to {margin-top:1100px;}
  }
  /* This is the container where the droplets live. It requires a parent element to inherit the height and width
     so h/w should never be customized.
    
  */
  #Rain {
    /* Constants */
    position: absolute;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    
    

    /* Customizable */
    /* z-index: 10; */

  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(37, 37, 37);
  
  }
  

  /*  */
  /* #root{
    position: relative;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 35px;
    background-color: rgb(14, 14, 47);
  
  } */
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  


  
