.rain-droplet {
  position: absolute;
  width: 1px;
  height: 60%;
  margin-left: 7px;
  border-radius: 4px;
  animation: rain-droplet-fade 0.5s linear infinite;
}

@keyframes rain-droplet-fade {
  0%,
  65% {
    opacity: 1;
  }

  75%,
  100% {
    opacity: 0;
  }
}
