.rain-drop-impact {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 15px;
  height: 10px;
  margin-left: -7.5px;
  border-top: 2px dotted currentColor;
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: rain-drop-impact 1s linear infinite;
}

@keyframes rain-drop-impact {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
